h1,
h2,
img {
  text-align: center;
}

.centrar {
  display: flex;
  justify-content: center;
}

#principal {
  padding: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/*.fila-modificable {
    border: 2px solid grey;
    
}

.fila-modificable td {
    background-color: orange;
}
*/
